html,
body,
h1,
h2,
h3,
ul,
li {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
}

body {
  background: #233142;
  font-family: helvetica, arial, sans-serif;
  font-size: 13px;
  color: #333333;
  line-height: 1;
}

div.individual-call {
  display: flex;
  flex-direction: column;
  align-items: center;
  transition: box-shadow 0.5s;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ccc;
  background: transparent;
}

div#details {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: box-shadow 0.5s;
  width: 100%;
  margin-left: 32px;
  /* padding: 10px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  margin-right: 20px; */
}

div#call-details span {
  margin-top: 5px;
  margin-bottom: 5px;
}

div#details span {
  margin-top: 5px;
  margin-bottom: 5px;
}

div.individual-call:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

button#reset-archive {
  transition: box-shadow 0.5s;
  padding: 10px;
  margin-top: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border: 1px solid #ccc;
  background: #fff;
}

button#reset-archive:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}

div#call-details {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  min-height: 45px;

  justify-content: space-around;
}

div#call-right {
  /* border-left: dashed 1px; */
  display: flex;
  width: 70px;
  height: 80%;
  padding-left: 10px;
  margin-right: -10px;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

div.call-actions {
  display: flex;
  width: 45px;
  flex-direction: row;
  justify-content: space-between;
}

span.nav-icons {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}

div#call-date {
  display: flex;
  justify-content: center;
}

div#caller-information {
  display: flex;
  width: 150px;
  height: 80%;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
}

div#call-list {
  height: 430px;
  overflow: scroll;
  height: 100%;
  width: 100%;
  flex-direction: column;
  display: flex;
}

div.reset-archive {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

div.page-title {
  display: flex;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 10px;
  flex-direction: column;
  align-items: center;
}

h2.message {
  font-size: 15px;
}

div.contact-card {
  display: flex;
  flex-direction: row;
  transition: box-shadow 0.5s;
  padding: 10px;
  margin-left: 10px;
  margin-right: 10px;
  border-bottom: 1px solid #ccc;
  background: transparent;
  justify-content: space-between;
  height: 30px;
  align-items: center;
}

div.contact-card:hover {
  box-shadow: 0 0 11px rgba(33, 33, 33, 0.2);
}
